extends ../components/base/layout

block variables
  - const title = "UI-kit"

block main
  style
    include ../../sass/inline/uikit.css
    include ../../sass/inline/prism.css

  main
    .uikit
      //----------------------- Разделы с компонентами
      .uikit__sections(data-scroll-lock-fill-gap)
        label(for="section-burger")
          span Разделы&nbsp;компонентов
        input.visually-hidden(type="checkbox", checked, id="section-burger")
        div
          ul
            li
              a(href="#titles") Заголовки
            li
              a(href="#buttons") Кнопки
            li
              a(href="#forms") Элементы форм
            li
              a(href="#card") Карточка

      //----------------------------------------------
      .container
        a.uikit__header-link(href="sitemap.html")
          img(src="img/svg/logo.svg", width="300", alt="Логотип проекта")
        h1.uikit__h1 Компоненты, используемые на проекте

        section.uikit__section
          h2.uikit__h2 Название компонента или группы компонентов
          p.uikit__text Информация о компоненте (подсказки \ предупреждение \ важная информация)
          .uikit__component
            p.uikit__text  Класс компонента \ модификаторы
            pre
              |
              code(class="language-pug").
                p Пример кода

        //- Заголовки
        section.uikit__section(id="titles")
          h2.uikit__h2 Заголовки
          .uikit__component
            p.uikit__text.uikit__text--class .title \ .title--h1 \ .title--h3
            div.titles
              h2.title Обычный заголовок
              h1.title.title--h1 Заголовок первого уровня
              h3.title.title--h3 Заголовок третьего уровня
            pre
              |
              code(class="language-pug").
                h2.title Обычный заголовок
                h1.title.title--h1 Заголовок первого уровня
                h3.title.title--h3 Заголовок третьего уровня

        //- Кнопки
        section.uikit__section(id="buttons")
          h2.uikit__h2 Кнопки
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ default \ button
            +btn({text: "Кнопка"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ .is-active
            +btn({text: "Текст", href: "#", isExternal: true}).is-active(aria-label="Просто ссылка")
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст", href: "#", isExternal: true})(aria-label="Просто ссылка").is-active
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ .is-active \ .btn--big
            +btn({text: "Крупная кнопка"}).is-active.btn--big
            pre
              |
              code(class="language-pug").
                +btn({text: "Крупная кнопка"}).is-active.btn--big
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ disabled \ button
            +btn({text: "Текст"})(disabled)
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})(disabled)

          .uikit__component
            p.uikit__text.uikit__text--class .btn-user
            +btn-user({text: "Текст"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})

        //- Элементы форм
        section.uikit__section(id="forms")
          h2.uikit__h2 Элементы форм
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="text"
            +custom-input({
              inputLabel: "Введите ваше имя",
              inputName: "user-name-1",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputLabel: "Введите ваше имя",
                  inputName: "user-name-1",
                })

        //- Элементы форм
        section.uikit__section(id="card")
          h2.uikit__h2 Карточка
          .uikit__component
            p.uikit__text.uikit__text--class .card
            article.card
              +picture(
                "content/vacancies/list_1",
                "mech",
                "jpg",
                300,
                142,
                "mech"
              )
              h2.title.title--h3 Заголовок карточки
            pre
              |
              code(class="language-pug").
                article.card
                  +picture(
                    "content/vacancies/list_1",
                    "mech",
                    "jpg",
                    300,
                    142,
                    "mech"
                  )
                  h2.title.title--h3 Заголовок карточки


  script
    include ../../js/inline/ui-kit.js
