.btn-user {
  display: flex;
  align-items: center;
  padding: 12px 16px;

  line-height: 0;
  letter-spacing: 0.6px;

  background-color: $color-default-white;
  border: none;
  border-radius: 16px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
  gap: 16px;

  &__avatar {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;

    line-height: 0;

    background-color: $color-gold;
    border-radius: 50%;
  }

  &::after {
    content: "";

    width: 24px;
    height: 24px;
    margin-left: 16px;

    background: url("../img/svg/v.svg") no-repeat center;
  }
}
