.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-style: normal;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  color: $color-red;
  letter-spacing: 0.2px;

  background-color: transparent;
  border: none;
  border-radius: 14px;
  cursor: pointer;

  transition: opacity $trans-default;

  &--big {
    min-width: 188px;
    padding: 15px 40px;

    font-size: 20px;
  }

  &.is-active {
    color: $color-default-white;

    background-color: $color-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.9;
  }
}
