.card {
  img {
    width: 300px;
    height: 142px;

    border-radius: 10px;
    object-fit: cover;

    @include vp-767 {
      width: 100%;
      height: auto;
    }
  }

  .title {
    margin-top: 24px;

    @include vp-767 {
      margin-top: 12px;
    }
  }
}

a.card {
  display: block;

  line-height: 0;
}
