.custom-input,
.custom-textarea {
  position: relative;

  label {
    display: flex;
    gap: 24px;

    align-items: stretch;

    input,
    textarea {
      flex-grow: 1;
      height: 70px;
      padding: 10px 20px;

      font-size: 18px;
      line-height: normal;
      font-weight: 500;
      vertical-align: middle;
      letter-spacing: 0.1px;

      background-color: $color-default-white;
      border: 2px solid $color-gold;
      border-radius: 14px;

      transition: border 0.3s ease;

      &:hover {
        opacity: 0.9;
      }

      &:focus {
        outline: 1px solid $color-gold;
        outline-offset: -4px;
      }

      &::placeholder {
        color: $color-placeholder;
      }
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
