.footer {
  padding: 26px 0;

  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
  color: $color-red;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__copy {
    flex-shrink: 0;

    color: $color-brown;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 0;
    padding: 0;

    list-style-type: none;
    gap: 20px;

    @include vp-767 {
      justify-content: start;
    }

    li {
      text-align: right;

      @include vp-767 {
        text-align: left;
      }
    }
  }
}
