.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 1px;

  line-height: 0;

  transition: opacity $trans-default;


  &__icon-mob {
    display: none;
  }

  @include vp-767 {
    padding: 8px;

    &__icon-mob {
      display: block;
    }

    &__icon {
      display: none;
    }
  }
}
