.market {
  padding-top: 90px;

  .tabs {
    margin-top: 28px;
  }

  form {
    margin-top: 16px;
  }

  .tabs__content {
    margin-top: 114px;
  }

  .suggests {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    gap: 16px;
  }

  &__cards {
    display: grid;
    justify-content: center;
    width: 100%;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, 300px);
  }
}
