.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @include vp-767 {
    justify-content: center;
  }
}

.tag {
  min-height: 36px;
  padding: 4px 12px;

  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.36px;

  background-color: #faf8f6;
  border: none;
  border-radius: 100px;
  cursor: pointer;

  transition: opacity $trans-default;

  @include hover-focus {
    opacity: 0.9;
  }
}
