mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      a.logo(href="index.html")
        span.visually-hidden Переход на главную

      +btn-user({text: "Войти"})
