mixin header(headerMods, currentUrl)
  header.header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        span.logo
          span.visually-hidden Вы уже на главной странице
      else
        a.logo(href="index.html", aria-label="Переход на главную")

      +btn-user({text: "Войти"})
